<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Perros</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header class="cabecera">

    <div class="logo">
        <img src="{{ url_for('static', filename='imgs/logo.png') }}" alt="">
    </div>

    <nav class="menu">
        <a href="#">Inicio</a>
        <a href="#">Mapa</a>
        <a href="#">Buscar perros</a>
        <a href="#">Sobre nosotros</a>
        <a href="#">Contacto</a>
    </nav>

    <div class="botones">
        <button class="inicio">Iniciar sesión</button>
        <button class="registro">Registrarse</button>
    </div>

</header>

<main class="principal">

    <section class="texto">

        <h1>Ayudamos a reunir perros perdidos con sus dueños</h1>

        <p>
            Si encontraste un perro, ingresa el código de su placa para ver la información del dueño.
        </p>

        <div class="buscador">
            <input type="text" placeholder="Ingresa el código único">
            <button>Buscar</button>
        </div>

    </section>

    <section class="imagen">
        <img src="{{ url_for('static', filename='imgs/imagdeperro.png') }}" alt="">
    </section>

</main>

<section class="tarjeta">

    <div class="icono">
        <img src="{{ url_for('static', filename='imgs/personaperro.png') }}" alt="">
    </div>

    <div class="info">
        <h3>Ver muro comunitario</h3>
        <p>Observa las mascotas reportadas recientemente por la comunidad.</p>
    </div>
   <button class="flecha">→</button>
</section>

</body>
</html>