<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Inicio sesión</title>

<link rel="stylesheet" href="style.css">
</head>

<body>

<div class="caja-login">

<div class="menu">
<p class="seleccionado">Iniciar sesión</p>
<p>Registrarse</p>
</div>

<div class="icono">
<img src="logo.png" alt="">
</div>

<h2>Bienvenido de nuevo</h2>

<p class="texto">
Inicia sesión para continuar
</p>

<label>Correo electrónico</label>
<input type="email" placeholder="ejemplo@correo.com">

<label>Contraseña</label>
<input type="password" placeholder="********">

<p class="olvide">
¿Olvidaste tu contraseña?
</p>

<button>Ingresar</button>

<p class="crear">
¿No tienes cuenta? Registrate
</p>

</div>

</body>
</html>