<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perros</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header class="cabecera">

    <div class="logo">
        <img src="logo.png" alt="">
    </div>

    <nav class="menu">
        <a href="#">Inicio</a>
        <a href="#">Mapa</a>
        <a href="#">Buscar perros</a>
        <a href="#">Sobre nosotros</a>
        <a href="#">Contacto</a>
    </nav>

    <div class="botones">
        <button class="inicio">Iniciar sesión</button>
        <button class="registro">Registrarse</button>
    </div>

</header>